<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-columns">
      <div class="column">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p>{{ site.description }}</p>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="column">
        <h2>Services</h2>
        <ul>
          <li>Back-office Support</li>
          <li>Infrastructure Setup/Upgrade</li>
          <li>COO/Operations Management</li>
          <li>Bookkeeping Facilitation</li>
          <li>Accounts Payable/Receivable</li>
          <li>Project Management</li>
          <li>Meeting and Event Planning</li>
          <li>Executive and Personal Assistance</li>
          <li>Calendars and Scheduling</li>
          <li>Travel Planning</li>
          <li>Expense Reimbursement</li>
          <li>Going Paperless</li>
        </ul>
      </div>
    </div>
    <p class="copyright">&copy; 2017 Sans Souci</p>
  </div>
</footer>
