.banner {
  height: 400px;
  background: transparent url('/assets/ssg_header.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 160px;
  text-align: center;
  color: white;

  @include media($medium) {
    height: 500px;
  }

  @include media($large) {
    height: 600px;
  }

  h2 {
    font-size: modular-scale(3);
    margin-bottom: 0;
    
    @include media($medium) {
      font-size: modular-scale(6);
    }

    @include media($large) {
      font-size: modular-scale(8);
    }
  }

  h4 {
    font-size: modular-scale(2);

    @include media($medium) {
      font-size: modular-scale(4);
    }

    @include media($large) {
      font-size: modular-scale(6);
    }
  }
}
