.site-header {
  background-color: $blue;
  padding-top: 70px;
}

.nav-bar {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: $blue;

  .nav-bar-inner {
    @include outer-container;
  }
}

.site-title {
  display: block;
  margin-top: 5px;
  max-width: 150px;
  float: left;

  @include media($small) {
    max-width: 200px;
  }
}

.site-nav {
  float: right;
  text-align: right;

  a {
    color: white;
  }

  .call-to-action {
    @extend button;
    font-size: modular-scale(-1);
    padding: 0.75em;
    background-color: $aqua;

    @include media($small) {
      font-size: modular-scale(0);
      padding: 0.75em 1.5em;
    }

    &:hover {
      background-color: shade($aqua, 10%);
    }
  }
}
