.spotlight {
  @extend %default-container-wide;

  h4 {
    font-size: modular-scale(3);
    text-align: center;
    color: $action-color;
    margin-bottom: 5px;

    @include media($medium) {
      text-align: left;
    }
  }

  .graphic {
    text-align: center;

    @include media($medium) {
      float: right;
      width: 30%;
    }

    img {
      @include media($small) {
        display: block;
        max-width: 300px;
        margin: 0 auto;
      }
      
      @include media($medium) {
        max-width: 100%;
      }
    }

    h5 {
      font-size: modular-scale(2);
      margin: 5px 0;
    }
  }

  .content {
    @include media($medium) {
      float: left;
      width: 70%;
      padding-right: 60px;
      font-size: modular-scale(1);
      line-height: modular-scale(2);
    }
  }

}
