html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

%default-container {
  @include outer-container(600px);

  @include media($medium) {
    @include outer-container(700px);
  }

  @include media($large) {
    @include outer-container(800px);
  }
}

%default-container-wide {
  @include outer-container(1000px);
  padding: 20px;

  @include media($medium) {
    padding: 40px;
  }

  @include media($large) {
    padding: 40px 10px;
  }
}
